.spot-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

/* Head */
.spot-details-container > .spot-details-head > .name {
  font-size: 2em;
  margin-bottom: 10px;
}

/* Body */
@media screen and (width > 1581px) {
  .photos-container {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
  }
  .preview {
    width: 50%;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 50%;
  }
}

@media screen and (1580px >= width > 1001px) {
  .photos-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .preview {
    flex-shrink: 1;
  }
  .preview > img {
    width: 100%;
    height: 100%;
  }

  .images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .images > img {
    flex-grow: 1;
    width: 46%;
  }
}

@media screen and (width <= 1000px) {
  .spot-details-container {
    width: 90%;
  }
  .photos-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1 0 100%;
  }
  .preview > img{
    width: 100%;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .images > img {
    flex: 1 0 23%;
    width: 23%;
  }
}

img {
  object-fit: cover;
}

.property-description-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.property-description-container h3 {
  margin-top: 0;
}

.property-description-container > .actions {
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}
.property-description-container .price {
  font-weight: 600;
  font-size: 1.5em;
}
.property-description-container .summary {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Footer */
.spot-details-foot {
  border-top: 2px solid black;
  padding-top: 20px;
}
.reviews-summary {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

/* review tile */
.review-tile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.review-tile > .reviewer {
  font-weight: 600;
  font-size: 1em;
}

.review-tile > .udpatedAt {
  color: lightgrey;
}
