.spot-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

/* Head */
.spot-details-container > .spot-details-head > .name {
  font-size: 2em;
  margin-bottom: 10px;
}

/* Body */
.photos-container {
  height: 50%;

  & .preview {
    width: 50%;
    height: 100%;

    & img {
      width: 100%;
      object-fit: cover;
    }
  }

  & .images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 48%));
    grid-template-rows: repeat(auto-fill, minmax(25%, 50%));

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.property-description-container > .actions {
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 5px;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  /* width: 30%; */
}
.property-description-container .price {
  font-weight: 600;
  font-size: 1.5em;
}
.spot-details-map {
  border-top: 2px solid black;
  padding-top: 20px;
  width: 100%;
  height: 35vh;
}
/* Footer */
.spot-details-foot {
  border-top: 2px solid black;
  padding-top: 20px;
}
.reviews-summary {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

/* review tile */
.review-tile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.review-tile > .reviewer {
  font-weight: 600;
  font-size: 1em;
}

.review-tile > .udpatedAt {
  color: lightgrey;
}
