#filtering {
  margin: 15px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

#filtering > select,
#filtering > input,
#filtering > section > input {
  box-sizing: border-box;
  height: 38px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 1em;
  padding-left: 3px;
  color: rgb(158, 156, 156);
}

#filtering > section {
  align-items: center;
}

#filtering > button {
  color: rgb(158, 156, 156);
  border: 0;
  margin: 0 0;
  padding: 0 0;
}
