.spot-card {
  box-sizing: border-box;
  cursor: pointer;
  border: 0px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  height: auto;
  min-width: 250px;
  min-height: 280px;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: inherit;

  flex: 1 1 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .img-container {
    height: 90%;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.spot-card:hover {
  .spot-card-info {
    color: rgb(0, 92, 230);
    border-color: rgb(0, 92, 230);
  }
}

.spot-card-info {
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 10px;
}

.spot-card-info > .subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spot-card .price {
  font-weight: 600;
}
