nav {
  height: 80px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);

  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#logo {
  color: rgb(69, 69, 246);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
}

nav .profile-dropdown {
  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: white;

  list-style: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  min-height: 140px;
  min-width: 200px;

  position: absolute;
  left: -100px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav .profile-dropdown button {
  margin-top: 35%;
}

nav .hidden {
  display: none;
}
nav .nav-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav a {
  text-decoration: none;
  color: inherit;
}

nav button {
  cursor: pointer;
  box-sizing: border-box;
  min-width: 120px;
  min-height: 35px;
  border-radius: 3px;
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.3);
  font-weight: 600;
}

button.profile {
  border: 1px solid rgba(128, 128, 128, 0.3);
  min-width: 80px;
  min-height: 48px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
