nav {
  height: 80px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#logo {
  color: rgb(0, 92, 230);
  text-decoration: none;
  font-weight: 500;
  display: flex;
}
.login-signup {
  width: 200px;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.login-signup > li > button {
  width: 100px;
}
.profile-dropdown {
  padding: 10px;
  margin: 10px;
  width: 100%;
  min-height: 100px;
  min-width: 170px;
  max-width: 230px;

  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: white;

  list-style: none;
  border-radius: 10px;

  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.profile-dropdown > li:nth-child(4),
li:nth-child(5) {
  transition: all 0.3s;
  padding: 10px 0;
}

.profile-dropdown > li:nth-child(4):active,
li:nth-child(5):active {
  background-color: rgba(128, 128, 128, 0.3);
}

.profile-dropdown button {
  width: 100%;
  margin: 3px 0;
}

nav .hidden {
  display: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav button {
  cursor: pointer;
  border-radius: 3px;
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.3);
  font-weight: 600;
}

button.profile {
  border: 1px solid rgba(128, 128, 128, 0.3);
  min-width: 90px;
  min-height: 48px;
  border-radius: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 9px;
}

.profile-icon-logged-off {
  color: rgb(128, 128, 128);
}
